<div class="page-width">
  <div class="grid grid--2-col-desktop">
    <div class="grid__item">
      <div class="left-image">
        <img src="{{ section.settings.image | img_url:"master"  }}">
      </div>
    </div>
    <div class="grid__item">
      <div class="right-content">
        <h2>{{ section.settings.header }}</h2>
        {{ section.settings.content }}
        <a href="{{ section.settings.button-url }}">{{ section.settings.button-name }}</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Dryfruit Benefits Section",
    "class":"dryfruit-benefits",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button-name",
        "label": "Button Name"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "Button Url"
      }
    ],
    "presets":[
      {
        "name":"Dryfruit Benefits Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}