<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
>
<div class="page-width">
  <div class="grid grid--2-col-desktop mission-content">
    <div class="grid__item mission-left-content">
      <div class="owl-carousel owl-theme" id="king-mission-carousel">
        {% for block in section.blocks %}
          <div class="item">
            <h2>{{ block.settings.heading }}</h2>
            {{ block.settings.content }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="grid__item mission-right-content">
      <div class="logo">
        <img src="{{ section.settings.logo | img_url:"master" }}">
      </div>
      <div class="content">
        <h2>{{ section.settings['right-header'] }}</h2>
        {{ section.settings['right-content'] }}
      </div>
      <div class="see-more-btn">
        <a href="/collections/all">See more</a>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script>
  $('#king-mission-carousel').owlCarousel({
      loop:true,
      margin:10,

      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  })
</script>
{% schema %}
{
  "name": "King organic mission",
  "class":"king-organic-mission",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "right-header",
      "label": "Right Header"
    },
    {
      "type": "textarea",
      "id": "right-content",
      "label": "Right Content"
    }
  ],
  "blocks": [
   {
     "name": "King organic mission",
     "type": "king-organic-mission",
     "settings": [
       {
          "type": "text",
          "id": "heading",
          "label": "Heading"
       },
       {
          "type": "richtext",
          "id": "content",
          "label": "Content"
       }
     ]
   }
  ],
  "presets":[
    {
      "name":"King organic mission"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
